@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url('menu.png');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 11;
    filter: invert(1);
}

.toggle.active {
    position: fixed;
    right: 20px;
    background: url('close.png');
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}

header ul.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 100px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1em;
    font-weight: 400;
}

.content .textBox h2 span {
    color: rgb(20, 43, 89);
    font-size: 1em;
    font-weight: 900;
}

.content .textBox p {
    color: #333;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: rgb(20, 43, 89);
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.content .textBox a .button {
    position: relative;
    left: 150px;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: rgb(20, 43, 89);
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.content .imgBx {
    width: 800px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.content .imgBx img {
    max-width: 440px;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    max-width: 60px;
}

.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(20, 43, 89);
    clip-path: circle(600px at right 800px);
}

@media (max-width: 991px) {
    header {
        padding: 20px;
    }
    header .logo {
        position: relative;
        max-width: 60px;
    }
    header ul {
        position: relative;
        display: none;
    }
    section {
        padding: 20px 20px 120px;
    }
    .content {
        flex-direction: column;
        margin-top: 100%;
    }
    .content .textBox h2 {
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    .content .textBox {
        max-width: 100%;
    }
    .content .imgBx {
        max-width: 100%;
        justify-content: center;
    }
    .content .imgBx img {
        max-width: 300px;
    }
    .thumb li img {
        max-width: 40px;
    }
    .circle {
        clip-path: circle(400px at center bottom);
    }
    .sci {
        background: rgb(20, 43, 89);
        right: 0;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}